*.png
*.pyc
*.db
*.log
*.fa
*.tsv
*.tsv.gz
*.tar.gz
*.json
*.backup
.venv/
bedtools2/
bedtools
results_databox*/
results*/
release*/
tmp*/
motifs*/
thresholds*/
run_benchmarks*/
source_data*/
!source_data_meta/**/*.tsv
!source_data_meta/**/*.json
!source_data_meta/
