<html><head>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-grouping.min.js" integrity="sha512-6FAqJpQEAS0yk/zE3Wa8XkWkisc4okyOJmmqihmwhZskbzW3Rmuq8z3/c4EEWZtWimY3sK/tCTxgLN9YakO08w==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.blue.min.css" integrity="sha512-jJ9r3lTLaH5XXa9ZOsCQU8kLvxdAVzyTWO/pnzdZrshJQfnw1oevJFpoyCDr7K1lqt1hUgqoxA5e2PctVtlSTg==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/widget.grouping.min.css" integrity="sha512-BCNF9B5IaHyaQnwYzahHkA0+rM7DAotlTNEdbDvgkVPzqT9sjh/8jqdDUdfG4rSXon4gvjmEHVQu1KjXjek5Zg==" crossorigin="anonymous" />
<script>
$(function() {
  $("table.tablesorter").tablesorter({
    theme: 'blue',
    widgets: ['zebra', 'group'],
    widgetOptions: {
      group_collapsible : true,
      group_collapsed   : true,
      group_saveGroups  : true,
      group_enforceSort : true,
      group_callback : function($cell, $rows, column, table) {
        $cell.find('.group-count').remove();
        if (column || true) {
          // callback allowing modification of the group header labels
          // $cell = current table cell (containing group header cells ".group-name" & ".group-count"
          // $rows = all of the table rows for the current group; table = current table (DOM)
          // column = current column being sorted/grouped
          let group_name = $cell.find('.group-name').text();
          $cell.html('<i></i><span class="group-name">' + group_name + '</span>')
        }
      },

    },
    sortList: [[0,0], [2,0]]
  });
});
</script>
<link rel="stylesheet" type="text/css" href="websrc/style.css">
</head><body>
<table class="tablesorter tablesorter-blue"><thead><tr>
<th class="group-word">TF</th>
<th>logo</th>
<th>overall rank</th>
<% metrics_order.each do |metric| %>
  <th>#{metric} rank</th>
<% end %>
<th>motif</th>
</tr></thead><tbody>
<% motif_rankings.each do |tf, motif, overall_rank, motif_ranks, motif_values| %>
   <% motif_bn = File.basename(motif, File.extname(motif)) %>
   <% row = [tf, "<img src='../logo/#{motif_bn}.png' />", overall_rank, *motif_ranks.values_at(*metrics_order).map{|x| x&.round(2) }, motif] %>
   <tr><%= row.map{|x| "<td>#{x}</td>" }.join %></tr>
<% end %>
</tbody></table>
</body></html>
